
/* 高亮标签云 */
/* 3D */
.wrapper {
  position: relative;
  display: inline-block;

}

.header-wrap {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  transform: perspective(200px) rotateX(10deg);
  letter-spacing: .1em;
  user-select: none;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #004d40, 0 2px 0 #00483B, 0 3px 0 #004639, 0 4px 0 #004336, 0 5px 0 #004134, 0 6px 0 #003F32, 0 7px 0 #003D30, 0 8px 0 #003A2D, 0 9px 0 #00382B, 0 10px 0 #003528, 0 11px 0 #003225, 0 12px 0 #002F22, 0 13px 0 #002B1E, 0 14px 0 #00281C, 0 15px 0 #001F13, 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 15px rgba(0, 0, 0, 0.9), 0 11px 15px rgba(0, 0, 0, 0.9), 0 15px 20px rgba(0, 0, 0, 0.9), 0 15px 11px rgba(0, 0, 0, 0.9), 0 16px 11px rgba(0, 0, 0, 0.9);
  transition: text-shadow .3s ease .3s,  transform .3s ease .3s, letter-spacing .3s ease .3s;
}
.header-wrap-title {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 10px;
  transform: perspective(200px) rotateX(10deg);
  letter-spacing: .1em;
  user-select: none;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #004d40, 0 2px 0 #00483B, 0 3px 0 #004639, 0 4px 0 #004336, 0 5px 0 #004134, 0 6px 0 #003F32, 0 7px 0 #003D30, 0 8px 0 #003A2D, 0 9px 0 #00382B, 0 10px 0 #003528, 0 11px 0 #003225, 0 12px 0 #002F22, 0 13px 0 #002B1E, 0 14px 0 #00281C, 0 15px 0 #001F13, 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 15px rgba(0, 0, 0, 0.9), 0 11px 15px rgba(0, 0, 0, 0.9), 0 15px 20px rgba(0, 0, 0, 0.9), 0 15px 11px rgba(0, 0, 0, 0.9), 0 16px 11px rgba(0, 0, 0, 0.9);
  transition: text-shadow .3s ease .3s,  transform .3s ease .3s, letter-spacing .3s ease .3s;
}
.header-wrap:hover {
  transition: text-shadow .33s ease,  transform .3s ease, letter-spacing .3s ease;
  text-shadow: 0 0 0 #004134, 0 1px 0 #00483B, 0 2px 0 #003528, 0 3px 3px rgba(0, 0, 0, 0.9);
  transform: translate(0px, 15px) perspective(200px) rotateX(10deg);
  letter-spacing: .125em;
}

.header-wrap-title:hover {
  transition: text-shadow .33s ease,  transform .3s ease, letter-spacing .3s ease;
  text-shadow: 0 0 0 #004134, 0 1px 0 #00483B, 0 2px 0 #003528, 0 3px 3px rgba(0, 0, 0, 0.9);
  transform: translate(0px, 15px) perspective(200px) rotateX(10deg);
  letter-spacing: .125em;
}

/* 3dend */

.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 0.5em;
  padding: 0.5em 1em;
  text-transform: inherit;
  -webkit-transition: color 1s;
  transition: color 1s;
  

}

.btn-0 {
  color: #63b0ee;
  box-shadow: 0 2px 8px #63b0ee;
}
.btn-0:hover {
  -webkit-animation: zigzag 1s linear infinite;
          animation: zigzag 1s linear infinite;
  background: -webkit-linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, -webkit-linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, -webkit-linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, -webkit-linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background: linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: 0.75em 0.75em;
  color: #d3f169;
}

@-webkit-keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

@keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

.btn-1 {
  color: #9c89f7;
  box-shadow: 0 2px 8px #9c89f7;
}
.btn-1:hover {
  -webkit-animation: halftone 1s forwards;
          animation: halftone 1s forwards;
  background: -webkit-radial-gradient(circle, #9c89f7 0.2em, rgba(0, 0, 0, 0) 0.25em) 0 0/1.25em 1.25em, -webkit-radial-gradient(circle, #9c89f7 0.2em, rgba(0, 0, 0, 0) 0.25em) 6.25em 6.25em/1.25em 1.25em;
  background: radial-gradient(circle, #9c89f7 0.2em, rgba(0, 0, 0, 0) 0.25em) 0 0/1.25em 1.25em, radial-gradient(circle, #9c89f7 0.2em, rgba(0, 0, 0, 0) 0.25em) 6.25em 6.25em/1.25em 1.25em;
  color: #e4f789;
}

@-webkit-keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}

@keyframes halftone {
  100% {
    background-size: 2.375em 2.375em, 0.1em 0.1em;
  }
}
.btn-2 {
  color: #82f6d8;
  box-shadow: 0 2px 8px #82f6d8;
}
.btn-2:hover {
  -webkit-animation: pulse 1s ease-in infinite;
          animation: pulse 1s ease-in infinite;
  background: -webkit-radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0 0/1em 1em, -webkit-radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0.5em 0.5em/2em 2em;
  background: radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0 0/1em 1em, radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0.5em 0.5em/2em 2em;
  color: #0bdcb7;
}

@-webkit-keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}
.btn-3 {
  color: #d3f169;
  box-shadow: 0 2px 8px #d3f169;
}
.btn-3:hover {
  -webkit-animation: zigzag 1s linear infinite;
          animation: zigzag 1s linear infinite;
  background: -webkit-linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, -webkit-linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, -webkit-linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, -webkit-linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background: linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: 0.75em 0.75em;
  color: #63b0ee;
}

@-webkit-keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

@keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}
.btn-4 {
  color: #eea163;
  box-shadow: 0 2px 8px #eea163;
}
.btn-4:hover {
  -webkit-animation: zigzag 1s linear infinite;
          animation: zigzag 1s linear infinite;
  background: -webkit-linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, -webkit-linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, -webkit-linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, -webkit-linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background: linear-gradient(135deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(225deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) -0.5em 0, linear-gradient(315deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0, linear-gradient(45deg, rgba(238, 161, 99, 0.25) 0.25em, transparent 0.25em) 0 0;
  background-size: 0.75em 0.75em;
  color: #63b0ee;
}

@-webkit-keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
  }
}

@keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
  }
}
.btn-5 {
  color: #7cf07f;
  box-shadow: 0 2px 8px #7cf07f;
}
.btn-5:hover {
  -webkit-animation: blinds 0.75s linear forwards;
          animation: blinds 0.75s linear forwards;
  background: -webkit-linear-gradient(90deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, -webkit-linear-gradient(90deg, #88d6f3 50%, transparent 50%) 0 0/1em 1em;
  background: linear-gradient(0deg, #7cf07f 25%, transparent 25%) 0 0/0.5em 0.5em, linear-gradient(0deg, #88d6f3 50%, transparent 50%) 0 0/1em 1em;
  color: #f07ced;
}

@-webkit-keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}
.btn-6 {
  color: #f9879b;
  box-shadow: 0 2px 8px #f9879b;
}
.btn-6:hover {
  -webkit-animation: pulse 1s ease-in infinite;
          animation: pulse 1s ease-in infinite;
  background: -webkit-radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0 0/1em 1em, -webkit-radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0.5em 0.5em/2em 2em;
  background: radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0 0/1em 1em, radial-gradient(circle, rgba(249, 135, 155, 0.25) 43%, rgba(0, 0, 0, 0) 50%) 0.5em 0.5em/2em 2em;
  color: #0bdcb7;
}

@-webkit-keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }
  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}

/* 高亮标签云end*/






a{
	text-decoration:none;
	transition: all 300ms ease;
	
}


.widget_tag_cloud {
  display: block;
}
.widget_tag_cloud div.tagcloud {
  margin-left: -3px;
}
.widget_tag_cloud a {
  font-size: 14px !important;
  margin: 0 2px 8px 0;
  color: #fff;
  background-image: none !important;
}
.widget_tag_cloud a:hover {
  color: #fff;
}
.widget_tag_cloud a .tag-link-count {
  margin-left: 2px;
}

a.ctag-0,
a.ctag-red,
.tag-cloud-0,
.tag-cloud-21,
a.ctag-21 {
  background-color: #e54d42 !important;
}
/*嫣红*/
a.ctag-1,
a.ctag-orange,
.tag-cloud-1,
.tag-cloud-19,
a.ctag-19 {
  background-color: #f37b1d !important;
}
/*桔橙*/
a.ctag-2,
a.ctag-yellow,
.tag-cloud-2,
.tag-cloud-14,
a.ctag-14 {
  background-color: #fbbd08 !important;
}
/*明黄*/
a.ctag-3,
a.ctag-olive,
.tag-cloud-3,
.tag-cloud-20,
a.ctag-20 {
  background-color: #8dc63f !important;
}
/*橄榄*/
a.ctag-4,
a.ctag-green,
.tag-cloud-4,
a.ctag-gridea,
.tag-cloud-22,
a.ctag-22 {
  background-color: #39b54a !important;
}
/*森绿*/
a.ctag-5,
a.ctag-cyan,
.tag-cloud-5,
.tag-cloud-15,
a.ctag-15 {
  background-color: #1cbbb4 !important;
}
/*天青*/
a.ctag-6,
a.ctag-blue,
.tag-cloud-6,
.tag-cloud-26,
a.ctag-26 {
  background-color: #0081ff !important;
}
/*海蓝*/
a.ctag-7,
a.ctag-purple,
.tag-cloud-7,
.tag-cloud-25,
a.ctag-25 {
  background-color: #6739b6 !important;
}
/*姹紫*/
a.ctag-8,
a.ctag-mauve,
.tag-cloud-8,
.tag-cloud-16,
a.ctag-16 {
  background-color: #9c26b0 !important;
}
/*木槿*/
a.ctag-9,
a.ctag-pink,
.tag-cloud-9,
.tag-cloud-27,
a.ctag-27 {
  background-color: #e03997 !important;
}
/*桃粉*/
a.ctag-10,
a.ctag-brown,
.tag-cloud-10,
.tag-cloud-24,
a.ctag-24 {
  background-color: #a5673f !important;
}
/*棕褐*/
a.ctag-11,
a.ctag-grey,
.tag-cloud-11,
.tag-cloud-17,
a.ctag-17 {
  background-color: #8799a3 !important;
}
/*玄灰*/
a.ctag-12,
a.ctag-gray,
.tag-cloud-12,
.tag-cloud-18,
a.ctag-18 {
  background-color: #aaaaaa !important;
}
/*草灰*/
a.ctag-13,
a.ctag-black,
.tag-cloud-13,
.tag-cloud-23,
a.ctag-23 {
  background-color: #333333 !important;
}


/* Global Tags */
div.tags,
.widget_tag_cloud {
  display: block;
}
div.tags.absolute,
.absolute.widget_tag_cloud {
  position: absolute;
  right: 0;
  top: -15px;
  width: 100%;
  z-index: 10;
  text-align: center;
}
div.tags.no-thumb,
.no-thumb.widget_tag_cloud {
  margin-bottom: 12.5px;
  margin-top: -38px;
}
div.tags a,
.widget_tag_cloud a,
div.tags span,
.widget_tag_cloud span {
  font-size: 15px;
  color: #fff;
  display: inline-block;
  padding: 4px 25px;
  vertical-align: top;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #E84E89;
}
div.tags a:hover,

.ctag {
  background-color: #E84E89;
}
a[href*="nosidebar"],
span.nosidebar,
a[href*="fullcover"],
span.fullcover {
  display: none !important;
}
/* @end */

.widget_tag_cloud a:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}